@import "bootstrap/scss/bootstrap.scss";

.main-container {
  margin: 2rem;
}

.player-input {
  width: 500px;
  height: 300px;
  overflow: scroll;
}

.player-list-item {
  display: flex;
  justify-content: space-between;
}

.span-link {
  cursor: pointer;
}